:root{
  --primary-color:#FF0073;
  --secondary-color:#ECDC47;
  --tertiary-color:#57C7E4;
  --one:#FCE7F6;
  --two:#E3EAF8;
  --three:#FECBE2;
  --four:#FFF6FB;
  --robo:'Roboto', sans-serif;
  --nuni:'Nunito', sans-serif;
  --mon:'Montserrat', sans-serif;
}
*{
  box-sizing: border-box !important;
  overflow-x: hidden;
}

.text-first{
  color: var(--primary-color);
}
.w-80{
  width: 85vw;
}
.cardheight{
  height: 250px;
}
.landing{
  background: linear-gradient(to right,var(--two),var(--three));
  width: 100vw;
  height: 100vh;
}
.landinglogo{
  letter-spacing: 25px;
  font-size: 3.5rem;
  color: var(--primary-color);
  font-family:'Amatic SC', cursive ;
}
.landingtext h1{
  font-size: 3.5rem;
  letter-spacing: 5px;
}
.landingtext p{
 font-size: 16px;
}
.mainimg{
  height: 100%;
  width: 70%;
}
.signuppic{
  max-height: 100vh;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}
.social-media-button{
  font-size: 40px;
  color: gray;
  margin-right: 70px;
}
.social-media-links{
  text-decoration: none;
  color: var(--tertiary-color);
}
.social-media-links:hover{
  text-decoration: none;
  color: var(--primary-color);
}
.social-media-button:hover{
  color: black;
  transition:1s ease;
}
.btn-landing{
  letter-spacing: 2px;
  background-color: white;
  width: 175px;
  font-size: 24px;
  padding: 15px 20px;
  color: var(--primary-color);
  border-radius: 20px;
  border: none;
}
.btn-landing:hover{
  transition: .5s ease-in-out;
  letter-spacing: 7px;
  background-color: white;
  color: var(--primary-color);
  border-radius: 20px;
  border: none;
}
.logo{
  font-size: 30px;  
  font-family: 'Amatic SC', cursive;
  letter-spacing: 10px;
  color: var(--primary-color);
}
.jumbotron{
  background: linear-gradient(to right,var(--three),var(--two));
}
.logo>span{
  font-size: 24px;
  letter-spacing: 20px;
}
.btn-primary{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding:5px 25px ;
  border-radius: 20px;
  opacity: .7;
}
.btn-primary:hover{
  opacity: 1;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.btn-secondary{
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding:5px 25px ;
  border-radius: 20px;
  opacity: .7;
}
.btn-secondary:hover{
  opacity: 1;
  background-color: var(--tertiary-color);
  border-radius: 20px;
}
.btn-signup{
  background-color: var(--three);
  border: none;
  padding:5px 25px ;
  border-radius: 20px;
}
.btn-primary>a,.btn-secondary>a{
  color:white;
}
body {
  font-family: var(--mon);
}
a:hover{
  text-decoration: none;
}
.layer{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0px;
  opacity: .3;
}
.layer>p{
  color: black !important;
}
.bg-primary{
  background-color: var(--primary-color) !important;
}
.bg-secondary{
  background-color: var(--tertiary-color) !important;
}