:root{
  --primary-color:#FF0073;
  --secondary-color:#ECDC47;
  --tertiary-color:#57C7E4;
  --one:#FCE7F6;
  --two:#E3EAF8;
  --three:#FECBE2;
  --four:#FFF6FB;
  --robo:'Roboto', sans-serif;
  --nuni:'Nunito', sans-serif;
  --mon:'Montserrat', sans-serif;
}
/* body{
  font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Bangers', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
} */
.text-first{
  color: var(--primary-color);
}
.w-80{
  width: 85vw;
}
/* .signupcontainer{
  height: 100vh !important;
} */
.signuppic{
  max-height: 100vh;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}
.social-media-button{
  font-size: 40px;
  color: gray;
  margin-right: 70px;
}
.social-media-links{
  text-decoration: none;
  color: var(--tertiary-color);
}
.social-media-links:hover{
  text-decoration: none;
  color: var(--primary-color);
}
.social-media-button:hover{
  color: black;
  transition:1s ease;
}
.logo{
  font-size: 30px;  
  font-family: 'Amatic SC', cursive;
  letter-spacing: 10px;
  color: var(--primary-color);
}
.jumbotron{
  background: linear-gradient(to right,var(--three),var(--two));
}
.logo>span{
  font-size: 24px;
  letter-spacing: 20px;
}
.btn-primary{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding:5px 25px ;
  border-radius: 20px;
  opacity: .7;
}
.btn-primary:hover{
  opacity: 1;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.btn-secondary{
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding:5px 25px ;
  border-radius: 20px;
  opacity: .7;
}
.btn-secondary:hover{
  opacity: 1;
  background-color: var(--tertiary-color);
  border-radius: 20px;
}
.btn-signup{
  background-color: var(--three);
  border: none;
  padding:5px 25px ;
  border-radius: 20px;
}
.btn-primary>a,.btn-secondary>a{
  color:white;
}
body {
  font-family: var(--mon);

}
.layer{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0px;
  opacity: .3;
}
.layer>p{
  color: black !important;
}
.bg-primary{
  background-color: var(--primary-color) !important;
}
.bg-secondary{
  background-color: var(--tertiary-color) !important;
}